/* this isnt being used, i'll leave it commented tho
.TitleBox3 {
    min-height: 10vh;
    max-height: 15vh;
    height: auto;
    padding: 1em 1em; 
    display:flex;
    align-items: center;  
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0px;
    background-image: url('../assets/Stock_Space.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    border: rgb(29, 29, 119);
    border-width: 1px;
    border-style: solid;
}*/

.projectTitle {
    font-size: clamp(2em, 8vw, 3.5em);
    background-image: linear-gradient(#C50D0D, #780000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inria Serif', serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.projectHeadline {
    color: #FFD445;
    font-family: 'Kode Mono', monospace;
    font-size: 2.5em;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.DemoBody {
    color: rgb(214, 214, 214);
    font-family: 'Kode Mono', monospace;
    font-size: clamp(.5em, 6vw, 1em);
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 30px;
    max-width: 60ch;
    margin: 0 auto;
}

.DemoBody.indented {
    text-indent: 4em;
}

.demoScreen {
    width: 85vw;
    height: 85vh;
    display: flex;
    background-color: #000;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.signNplay{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em; 
    margin-bottom: 5px;
    flex-wrap: nowrap;
}

.playDemoButton {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 70px;
    padding: 1em 1em;
    background-color: rgb(29, 29, 119);
    color: rgb(214, 214, 214);
    font-size: 1.7em;
    font-family: 'Kode Mono', monospace;
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 5px;
}

.signInButton, .signInGButton, .signOutButton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 1em;
    width: 300px;
    height: 60px;
    background-color: rgb(29, 29, 119);
    color: rgb(214, 214, 214);
    font-size: 1em;
    font-family: 'Kode Mono', monospace;
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 5px;
}

.signOutButton{
    height: 50px;
    width: 150px;
    margin-bottom: 5px;
}

.demoSignOut{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signInButton:hover, .signOutButton:hover, 
.playDemoButton:hover, .signInGButton:hover{
    background-color: rgb(78, 78, 107);
    color: rgb(149, 149, 215);
}

@media (max-width: 600px) {
    .signInButton,.signOutButton,.signInGButton {
        font-size: 0.7em;
        padding: 0.4em 0.8em;
    }
}
