.projectTitle {
    font-size: clamp(2em, 8vw, 3.5em);
    background-image: linear-gradient(#C50D0D, #780000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inria Serif', serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.projectHeadline {
    color: #FFD445;
    font-family: 'Kode Mono', monospace;
    font-size: 2.5em;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.DemoBody {
    color: rgb(214, 214, 214);
    font-family: 'Kode Mono', monospace;
    font-size: clamp(.5em, 6vw, 1em);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 30px;
    max-width: 60ch;
    margin: 0 auto;
}

.DemoBody.indented {
    text-indent: 4em;
}

.demoScreen {
    width: 1280px;
    height: 720px;
    display: flex;
    background-color: #000;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.signNplay, .demoSignOut{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em; 
    margin-bottom: 5px;
    flex-wrap: nowrap;
}

.playDemoButton, .signInButton, .signOutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 70px;
    text-decoration: none;
    background-color: rgb(29, 29, 119);
    color: rgb(214, 214, 214);
    font-size: 1.5em;
    font-family: 'Kode Mono', monospace;
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 5px;
}



.signInButton:hover, .signOutButton:hover, 
.playDemoButton:hover{
    background-color: rgb(78, 78, 107);
    color: rgb(149, 149, 215);
}

@media (max-width: 600px) {
    .signInButton,.signOutButton{
        font-size: 1em;
    }
}