.navbar{
    display:flex;
    justify-content: space-between;
    background-color: rgb(27, 27, 59); 
    height: auto;
}

.navLink:hover{
    background-color: #4848a5; 
    color: rgb(175, 175, 175);
}

.navLink2:hover{
    background-color: #4848a5; 
    color: rgb(175, 175, 175);
}

.navLink{
    font-family: 'Kode Mono', monospace;
    font-size: 1.2em;
    color:rgb(103, 103, 188);
    padding: 8px;
    border-radius: 2px;
    text-decoration: none;
    border-right: 1px solid rgb(54, 54, 54);
}

.navLink2, .navDemo{
    font-family: 'Kode Mono', monospace;
    font-size: 1.2em;
    color:rgb(103, 103, 188);
    padding: 8px;
    border-radius: 2px;
    text-decoration: none;
    border-left: 1px solid rgb(54, 54, 54);
    border-right: 1px solid rgb(54, 54, 54);
}
.navDemo:hover{
    background-color: rgb(72, 72, 165); 
    color: rgb(175, 175, 175);
}

.navbarLinks{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLogo {
    background-image: url('../assets/stock_logo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 50px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}