.pBodyBox{
    text-align: left;
}

.pBodyText{
    color: rgb(214, 214, 214);
    font-family: 'Kode Mono', monospace;
    font-size: clamp(.5em, 6vw, 1em);
    margin: 10px auto;
    text-align: left;
    text-indent: 4em;
    margin-top: 25px;
    margin-bottom: 20px;
    max-width: 60ch;
}

.progressBox
{
    min-height: 10vh;
    max-height: 15vh;
    height: auto;
    padding: 1em 1em;
    display:flex;
    align-items: center;  
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0px;
    background-image: url('../assets/Planet2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0;

    border: rgb(29, 29, 119);
    border-width: 1px;
    border-style: solid;
}

.progressTitle
{
    font-size: clamp(2em, 8vw, 3.5em);
    background-image: linear-gradient(#C50D0D, #780000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inria Serif', serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nameHighlight{
    background-image: linear-gradient(#C50D0D, #780000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inria Serif', serif;
}

.boldText{
    font-weight: bold;
    color: #91cafe;
}