.pBodyBox{
    text-align: left;
}

.pBodyText{
    color: rgb(214, 214, 214);
    font-family: 'Kode Mono', monospace;
    font-size: clamp(.5em, 6vw, 1em);
    margin: 10px auto;
    text-align: left;
    text-indent: 4em;
    margin-top: 25px;
    margin-bottom: 20px;
    max-width: 60ch;
}

.progressBox
{
    min-height: 10vh;
    max-height: 15vh;
    height: auto;
    padding: 2em 1em;
    display:flex;
    align-items: center;  
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0px;
    background-image: url('../assets/Planet2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0;
    background-attachment: fixed;
    border: rgb(29, 29, 119);
    border-width: 1px;
    border-style: solid;
}

.progressTitle
{
    font-size: clamp(2em, 8vw, 3.5em);
    background-image: linear-gradient(#C50D0D, #780000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inria Serif', serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.monthTitle
{
    color: #D6ADE1;
    font-family: 'Kode Mono', monospace;
    font-size: clamp(.9em, 3.6vw, 1.8em);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 20px;
    font-style: bold;
}

.recordTitle
{
    font-size: clamp(1.25em, 5vw, 2.5em);
    color: #FFD445;
    background-color: rgba(135, 125, 214, .5);
    box-shadow: 0 0 10px rgba(135, 125, 214, 5);
    font-family: 'Kode Mono', monospace;
    text-align: center;
    display: flex;
    justify-content: center;
}

.nameHighlight{
    background-image: linear-gradient(#C50D0D, #780000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inria Serif', serif;
}

.boldText{
    font-weight: bold;
    color: #91cafe;
}

.conceptBackground1 {
    background-image: url('../assets/Space_hub_concept_art.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0;
    width: 720px;
    height: 405px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: rgb(29, 29, 119);
    border-width: 2px;
    border-style: solid;
}

.conceptCharacters1 {
    background-image: url('../assets/Character_sprites_concept_art.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0;
    width: 720px;
    height: 405px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border: rgb(29, 29, 119);
    border-width: 2px;
    border-style: solid;
}

.centerAlign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    color: rgb(214, 214, 214);
    font-family: 'Kode Mono', monospace;
    font-size: clamp(.5em, 6vw, 1em);
}